/* General Styles */
ul {
    list-style list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li {
    float: left;
}
li a{
    display: block;
    color:yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;


}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D8D8D8;
}


/* Navigation */

.nav {
    font-family: 'Tangerine', serif;
    background-color:#151515;
    
    padding: 5px;
    margin-bottom: 1em;
}

.nav__logo {
    width: 7em;
    vertical-align: middle;
    
    display: inline-block;
}

.nav__title {
    color: #ffffff;
    font-size: 4em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.nav__ul {
    list-style: none;
    display: inline-block;
    margin-left: 65vw;
    /*Esto va a depender del titulo y el logo*/
}

.nav__li {
    display: inline-block;
    padding: -2 5px;
}
.nav__li2 {
    display: inline-block;
    padding: -6 3px;
    background-color: #2f3977;
}

.nav__li a {
    display: block;

    color: blue;
    text-decoration: none;
    font-size: 2em;
}

.nav__li a:hover {
    color: #ff8000;
}

.nav__title:hover {
    color: #81f781;
}


/* Content */

.content {
    background-color:floralwhite;
    margin: 1em;
    min-height: 0vh;
    padding: 1em;
}


/* Barra social */

.social {
    position: fixed;
    /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    
    right: 0;
    /* Establecemos la barra en la izquierda */
    top: 200px;
    /* Bajamos la barra 200px de arriba a abajo */
    z-index: 2000;
    /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    /* Establecemos una transición a todas las propiedades */
}

.social ul li .icon-facebook {
    background: #3b5998;
}


/* Establecemos los colores de cada red social, aprovechando su class */

.social ul li .icon-twitter {
    background: #00abf0;
}

.social ul li .icon-google-plus {
    background: #d95232;
}

.social ul li .icon-pinterest {
    background: #ae181f;
}

.social ul li .icon-envelop {
    background: #ff8000;
}

.social ul li a:hover {
    
    background: rgb(61, 76, 85);
    /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 30px;
    /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}


/* footer */

.footer {
    background-color: #151515;
    /* position: fixed;
    bottom: 0%; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3.5em;
    padding: 18px 0;
}

.footer__p {
    color: cyan;
    text-align: center;
}

.footer__p a {
    text-decoration: none;
    color: cyan;
}

.footer__p a:hover {
    color: #ff8000;
}




   
ul {
    list-style list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:enabled;
 }

li {
    float: left;
}
li a{
    display: block;
    color:#ae181f
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;


}
li a:hover{
    background-color:brown;
    

    }
    
.navegacion{
	
	width: auto;
	height: 60px;
	background: #234567;
	display: flex;
	justify-content: flex-end;
}
.navegacion a{
	color: yellow;
	text-align: center;
	padding: 15px;
	text-decoration:none;
	display: inline-block;
}
.navegacion a:hover{
	background-color: #1f88b0;
	color: black;
}
.navegacion ul{
	display: flex;
	list-style: none;
}
.navegacion ul li a{
	display: block;
	padding: 20px 20px;
	color: #fea30f;
	text-decoration:none;
}
.navegacion ul ul{
	position: absolute;
	top: 60px;
	display: block;
	background-color: #1d577c;
	transform: traslateX(20%);
	opacity: 0;
	transition: all .6s;
}
.navegacion ul li a span{
	transition: all .6s;
}
.navegacion ul li a:hover span{
	transform: traslateY(5px);
	opacity: 0;
}
.navegacion ul li:hover ul{
	
	opacity: 1;
	transform: traslateX(0%);
}
.columna{
	float: left;
	padding: 10px;
}
.columna.izq{
	text-align: left;
	width: 20%;
}
.columna.contenido{
	width: 57%;
}
.columna.lado{
	text-align: center;
	width: 23%;
}
.pie{
	background-color: #46859e;
	text-align: center;
}
.fila:after{
	content: "";
	display: table;
	clear: both;
}
.galeria{
	width: 75%;
	margin: auto;
	list-style: none;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.slider ul{
	display: flex;
	padding: 0;
	width: 800%;
	animation: cambio 32s infinite;
	animation-direction: alternate;
	animation-timing-function: case-in;
}
.galeria li{
	margin: 5px;
}
.galeria img{
	width: 150px;
	height: 100px;
}
.modelo{
	display: none;
}
.modelo:target{
	display: block;
	position: fixdex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.imagen{
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.imagen a{
	color: #fda602;
	font-size: 40px;
	text-decoration: none;
	margin: 0 10px;
}
.imagen a:nth-child(2){
	margin: 0;
	height: 100%;
	flex-shrink: 2;
}
.imagen img{
	width: 800px;
	height: 100%;
	max-width: 100%;
	border: 7px solid #fda602;
	box-sizing: border-box;
	
}
.cerrar{
	display: block;
	background: #fff;
	width: 25px;
	height: 25px;
	margin: 15px auto;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: #000;
	padding: 5px;
	border-radius: 50%;
	line-height: 25%;
}
.secciones article p{
	padding: 20px;
}
.secciones article {
	text-align: justify;
}
.secciones{
	width: 100%;
}
.letras{
    color: #ff8000;
   
}
}
.letras2{
    color: #140b0250;
   
}
        